.in-contact {
    width: 100%;
    height: 70vh;
    background: linear-gradient(0deg, #0c0c06a4, #0c0c06a4), url(assets/images/3d-rendering-loft-luxury-hotel-reception-cafe-lounge-restaurant_105762-557.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.in-contact .fa-solid {
    color: #ffff;
}

.in-contact .fa-xmark{
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.in-contact .fa-xmark:hover {
    padding: 5px;
    border: 1px solid #000;
}

.in-in-contact {
    text-align: center;
}

.in-in-contact h1 {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.in-in-contact h4 {
    background: #bebe3269;
    color: #ffff;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
}

.in-contact .fa-phone {
    background: #bebe32;
    padding: 15px;
    border-radius: 50%;
    font-size: 45px;
    margin-bottom: -37px;
}

.in-contact2 {
    background: #000;
    width: 100%;
    height: auto;
    padding: 100px 200px 20px 200px;
}

.in-in-contact2 {
    text-align: center;
}

.in-in-contact2 h4 {
    color: #ffff;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}

.in-in-contact2 h3 {
    color: #bebe32;
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.in-in-contact2 p {
    color: #ffff;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapouter {
    margin-right: 80px;
}

.location-connect p {
    color: #bebe32;
    text-align: left;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.location-connect p i {
    margin-right: 10px;
    color: #ffff;
    font-size: 20px;
}

.timetable {
    text-align: center;
    margin-top: 50px;
}

.timetable h4 {
    color: #ffff;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}

.timetable h3 {
    color: #bebe32;
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;
}

.inner-timetable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-timetable p {
    color: #ffff;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
}

.timetable-m {
    text-align: center;
}

.timetable-m p {
    font-size: 18px;
    margin-bottom: 20px;
}

.timetable-m p span {
    color: #bebe32;
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    margin-right: 35px;
}

.send-message {
    text-align: center;
}

.send-message h4 {
    color: #ffff;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.send-message h3 {
    color: #bebe32;
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;
}

.send-message p {
    color: #ffff;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

form {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

form input, form textarea {
    padding: 15px;
    margin-bottom: 30px;
    background: transparent;
    font-size: 16px;
    color: #ffff;
    letter-spacing: 2px;
    border: 1.5px solid #ffff;
    border-radius: 10px;
    transition: 0.5s;
}

form input:hover, form textarea:hover {
    border-bottom: 1.5px solid #bebe32;
}

form button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #ffff;
    cursor: pointer;
    color: #ffff;
    transition: 0.5s;
}

form button:hover {
    background: #195c72;
}

form button i {
    font-size: 50px;
}




 





@media screen and (max-width:900px) {
    .in-contact2 {
        padding: 100px 20px 20px 20px;
    }

    .location {
        flex-direction: column-reverse;
    }

    .mapouter {
        margin-right: 0;
    }

    .inner-timetable {
        flex-direction: column;
    }

    .inner-timetable p {
        margin-right: 0;
    }

    .timetable-m {
        margin-top: 30px;
    }

    
    
}