.in-gallery {
    width: 100%;
    height: 70vh;
    background: linear-gradient(0deg, #0c0c06a4, #0c0c06a4), url(assets/images/3d-rendering-loft-luxury-hotel-reception-cafe-lounge-restaurant_105762-557.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.in-gallery .fa-solid {
    color: #ffff;
}

.in-gallery .fa-xmark{
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.in-gallery .fa-xmark:hover {
    padding: 5px;
    border: 1px solid #000;
}

.in-in-gallery {
    text-align: center;
}

.in-in-gallery h1 {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.in-in-gallery h4 {
    background: #bebe3269;
    color: #ffff;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
}

.in-gallery .fa-images {
    background: #bebe32;
    padding: 15px;
    border-radius: 50%;
    font-size: 45px;
    margin-bottom: -37px;
    z-index: 1;
}




 





@media screen and (max-width:900px) {
    
}