.in-menu {
    width: 100%;
    height: 70vh;
    background: linear-gradient(0deg, #0c0c066c, #0c0c064d), url(assets/images/3d-rendering-loft-luxury-hotel-reception-cafe-lounge-restaurant_105762-557.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.in-menu .fa-solid {
    color: #ffff;
}

.in-menu .fa-xmark{
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.in-menu .fa-xmark:hover {
    padding: 5px;
    border: 1px solid #000;
}

.in-in-menu{
    text-align: center;
}

.in-in-menu h1 {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.in-in-menu h4 {
    background: #61611a;
    color: #ffff;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
}

.in-menu .fa-utensils {
    background: #61611a;
    padding: 15px;
    border-radius: 50%;
    font-size: 45px;
    margin-bottom: -37px;
    z-index: 1;
}

.in-menu2 {
    width: 100%;
    height: auto;
    background: #000;
    text-align: center;
    padding: 100px 150px 50px 150px;
}

.clickables {
    margin-bottom: 40px;
}

.theBtn {
    padding: 10px;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
    color: #bebe32;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.theBtn:hover {
    background: #61611a;
    color: #ffff;
}

.theBtn:focus{
    background: transparent;
    border: 2px solid #ffff;
    color: #ffff;
}

.appetizers {
    width: 100%;
    height: auto;
    background: transparent;
    text-align: center;
}

.appetizers h3 {
    background: #61611a;
    display: inline-block;
    color: #ffff;
    font-weight: 100;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    font-style: italic;
    margin-bottom: 40px;
}

.appetizer-main {
    text-align: left;
    margin-bottom: 40px;
}

.appetizer-main1 {
    margin-bottom: 40px;
}

.appetizer-main1 img {
    width: auto;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    left: 150px;
    margin-right: 30px;
}

.appetizer-main2 {
    margin-left: 170px;
    text-align: left;
}

.appetizer-main2 p {
    width: 100%;
}

 .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price h2 {
    color: #ffff;
    font-size: 17px;
    letter-spacing: 2px;
}

.price h6 {
    color: #ffff;
    background: #61611a;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
    font-style: italic;
}

hr {
    height: 1px;
    border: none;
    background-color: #bebe32;
    margin: 15px 0 10px;
}

.appetizer-main p, .appetizer-main2 p {
    color: #ffff;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: 'Solitreo', cursive;
}

.recommendation {
    width: 100%;
    height: auto;
    background: #3a3939ef;
    border-radius: 10px;
    padding: 40px 10px;
    margin-top: 40px;
}

.recommendation h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #ffff;
    letter-spacing: 2px;
    font-weight: 500;
}

.recommendation p {
    color: #ffff;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: 'Solitreo', cursive;
}

.recommendation a {
    padding: 10px 15px;
    background: #61611a;
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    font-style: italic;
    letter-spacing: 2px;
    transition: 0.5s;
}

.recommendation a:hover {
    background: transparent;
    color: #bebe32;
    border: 2px solid #bebe32;
}





 





@media screen and (max-width:900px) {
    .in-menu2 {
        padding: 100px 20px 40px 20px;
    }

    .theBtn {
        margin-right: 5px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .appetizer-main1 img {
        display: none;
    }

    .appetizer-main2 {
        margin-left: 0;
    }

    .appetizer-main p{
        font-size: 14px;
    } 
    
    .appetizer-main2 p {
        font-size: 14px;
    }
}