.in-menu {
    width: 100%;
    height: 70vh;
    background: linear-gradient(0deg, #86862b34, #96961e00), url(assets/images/silhouette-plate-tableware_23-2147694061.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.in-menu .fa-solid {
    color: #ffff;
}

.in-menu .fa-xmark{
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.in-menu .fa-xmark:hover {
    padding: 5px;
    border: 1px solid #000;
}

.in-in-menu{
    text-align: center;
}

.in-in-menu h1 {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.in-in-menu h4 {
    background: #bebe3269;
    color: #ffff;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
}

.in-menu .fa-utensils {
    background: #bebe32;
    padding: 15px;
    border-radius: 50%;
    font-size: 45px;
    margin-bottom: -37px;
    z-index: 1;
}





 





@media screen and (max-width:900px) {
   
}