.in-team {
    width: 100%;
    height: 70vh;
    background: linear-gradient(0deg, #0c0c066c, #0c0c064d), url(assets/images/3d-rendering-loft-luxury-hotel-reception-cafe-lounge-restaurant_105762-557.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.in-team .fa-solid {
    color: #ffff;
}

.in-team .fa-xmark{
    font-size: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.in-team .fa-xmark:hover {
    padding: 5px;
    border: 1px solid #000;
}

.in-in-team {
    text-align: center;
}

.in-in-team h1 {
    color: #ffff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.in-in-team h4 {
    background:  #61611a;
    color: #ffff;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    font-style: italic;
}

.in-team .fa-people-group {
    background:  #61611a;
    padding: 15px;
    border-radius: 50%;
    font-size: 45px;
    margin-bottom: -37px;
    z-index: 1;
}

.in-team2 {
    background: #0f0f0f;
    width: 100%;
    height: auto;
    padding: 100px 150px 20px 150px;
}

.in-in-team2 {
    text-align: center;
}

.in-in-team2 h4, .team-main-in h4 {
    color: #ffff;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}

.in-in-team2 h3, .team-main-in h3 {
    color: #bebe32;
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.in-in-team2 p, .team-main-in p, .team-main-in h6 {
    color: #ffff;
    text-align: center;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

.team-main-in {
    text-align: left;
}

.team-main-in p {
    text-align: left;
    margin: 20px 0;
}

.team-main-in h6 {
    font-style: italic;
    text-align: left;
}

.team-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.team-main img {
    margin-right: 40px;
    height: 500px;
    width: 450px;
}




 


@media screen and (max-width:1200px) {
    .team-main {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .team-main img {
        width: 100%;
        margin: 10px;
    }
}


@media screen and (max-width:900px) {

    .in-team2 {
        padding: 100px 20px 0 20px;
    }

    .team-main {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .team-main img {
        width: 100%;
        margin: 10px;
    }
}